<!-- <div class="card"> -->
    <!-- <div *ngFor='let sub of products'>
      <p-dataView #dv [value]="sub.category_details" [paginator]="true" [rows]="9" filterBy="name" layout="grid">
   
          <ng-template pTemplate="header">
              <div class="p-d-flex p-flex-column p-flex-md-row p-jc-md-between" >
                  <span>  </span>
                  <span class="p-input-icon-left p-mb-2 p-mb-md-0"  style="display: flex; flex-direction: row;">
                      <i class="pi pi-search"></i>
                      <input type="search" class="search" style="width: 600px; border-color: rgb(34, 83, 129); height: 50px;"  pInputText placeholder="Search" (input)="getItemsByName($event.target.value)">   
                  </span>
              </div>
          </ng-template>
    
          <ng-template let-product pTemplate="gridItem">
              <div class="p-col-12 p-md-4">
                  <div class="product-grid-item card">
                      <div class="product-grid-item-content">
                          <div class="product-name">{{product.name}}</div>
                          <a class = "product-image"><img src = {{product.image}}/></a>
                      </div>
                  </div>
              </div>
          </ng-template>
    
      </p-dataView>
    </div> -->
   
    <!-- <div *ngIf="loading == true">
        
      <div class = "cardContainerAlpha">
          <div class="card" *ngFor='let alpha of alphabetList' (click)="chosen(alpha.alphabet)" [class.selected]="form1SubCategorySelected==alpha.alphabet" (click)= "getItemsByName(alpha.alphabet)">
            <div class="poster">
              <a><img src={{alpha.posterurl}} width="25px" height="25px"></a>
            </div>
          </div>
        </div>
   
      <p-dataView #dv [value]="sub" [paginator]="false" [rows]="9" filterBy="name" layout="grid" emptyMessage="">
          <ng-template pTemplate="header">
              <div class="p-d-flex p-flex-column p-flex-md-row p-jc-md-between" >
                  <span style="font-size: 40px; font-family: Maax;"> {{categorySelected}} </span>
                  <span class="p-input-icon-left p-mb-2 p-mb-md-0"  style="display: flex; flex-direction: row;">
                      <i class="pi pi-search"></i>
                      <input type="search" class="search" style="width: 600px; border-color: rgb(34, 83, 129); height: 50px;"  pInputText placeholder="Search" (input)="getItemBySearch($event.target.value)">   
                  </span>
              </div>
          </ng-template>
      
          <ng-template let-product pTemplate="gridItem">
              <div class="p-col-12 p-md-4">
                  <div class="product-grid-item card"
                  (mouseenter)="addClickEvent($event, product.name)"
          (mouseleave)="addClickEvent($event, product.name)"
          (mousemove)="addClickEvent($event, product.name)">
                      <div class="product-grid-item-content">
                          <a class="product-name">{{product.name}}</a>
                          <a  routerLink= "/category/{{categorySelected}}/subCategory/{{product.name}}" class = "product-image"><img src = {{product.image}}/></a>
                      </div>
                  </div>
              </div>
          </ng-template>

          <ng-template pTemplate="footer" let-product>
            <div *ngIf="this.sub?.length === 0">
            <div [attr.colspan]="product?.length" class="footer">
                No records found
            </div>
            </div>
          </ng-template>


      
      </p-dataView>
    </div> -->
   
  <!-- </div> -->

  <!-- <div style="position: fixed; left: 35%; right: 35%;
  top: 35%; max-height: 25%; overflow: hidden; pointer-events: none;">
   <app-pop-up *ngIf="modalShow"
   (onCloseModal)="closeModal('room')" [CategorySelected]="categorySelected" [SubCategorySelected]="form1SubCategorySelected" [boolCat]="false" [boolSub]="true"></app-pop-up>
  </div> -->

  <div class="card">
    
   
    <div *ngIf="loading == true">
        
      <div class = "cardContainerAlpha">
          <div class="card" *ngFor='let alpha of alphabetList' (click)="chosen(alpha.alphabet)" [class.selected]="form1SubCategorySelected==alpha.alphabet" (click)= "getItemsByName(alpha.alphabet)">
            <div class="poster">
              <a><img src={{alpha.posterurl}} width="25px" height="25px"></a>
            </div>
          </div>
        </div>
   
      <p-dataView #dv [value]="sub" [paginator]="false" [rows]="9" filterBy="name" layout="grid" emptyMessage="">
          <ng-template pTemplate="header">
              <div class="p-d-flex p-flex-column p-flex-md-row p-jc-md-between" >
                  <span style="font-size: 40px; font-family: Maax;"> {{categorySelected}} </span>
                  <span class="p-input-icon-left p-mb-2 p-mb-md-0"  style="display: flex; flex-direction: row;">
                      <i class="pi pi-search"></i>
                      <input type="search" class="search" style="width: 600px; border-color: rgb(34, 83, 129); height: 50px;"  pInputText placeholder="Chercher" (input)="getItemBySearch($event.target.value)">   
                  </span>
              </div>
          </ng-template>
      
          <ng-template let-product pTemplate="gridItem">
              <div class="p-col-12 p-md-4">
                  <div class="product-grid-item card" (mouseenter)="addClickEvent($event, product.name)" (mouseleave)="addClickEvent($event, product.name)"
                  (mousemove)="addClickEvent($event, product.name)">
                      <div class="product-grid-item-content">
                          <a class="product-name">{{product.name}}</a>
                          <a  routerLink= "/category/{{categorySelected}}/subCategory/{{product.name}}" class = "product-image"><img src = {{product.image}}/></a>
                      </div>
                  </div>
              </div>
          </ng-template>
 
          <ng-template pTemplate="footer" let-product>
            <div *ngIf="this.sub?.length === 0">
            <div [attr.colspan]="product?.length" class="footer">
                Aucune donnée disponible
            </div>
            </div>
          </ng-template>
      
      </p-dataView>
    </div>
   
  </div>
 
  <!-- <div style="position: fixed; left: 35%; right: 35%;text-align: center; 
  top: 40%; max-height: 25%; overflow: hidden; pointer-events: none;">
   <app-pop-up *ngIf="modalShow"
    [CategorySelected]="categorySelected" [SubCategorySelected]="form1SubCategorySelected" [boolCat]="false" [boolSub]="true"></app-pop-up>
  </div> -->