// * {
//     box-sizing: border-box;
//   }
  

// .header{
//     font-size: 60px;
//     font-family: "Maax";
//     margin-bottom: 40px;
// }

// .row::after {
//     content: "";
//     clear: both;
//     display: table;
//   }

// .images{
//     float: left;
//     width: 33.33%;
//     padding: 5px;
// }

// .button_controls{
//     background-color: rgb(31, 47, 138);
//     border: 3px ;
//     border-radius: 3px;
//     color: white;
//     padding: 15px 17px;
//     text-align: center;
//     text-decoration: none;
//     display: inline-block;
//     font-size: 15px;
//     font-family: "Maax";
//     margin: 30px 4.5px;
//     cursor: pointer;
// }

// .video:focus {
//     outline: none;

// }

.header{
    font-size: 60px;
    font-family: "Maax";
    margin-bottom: 100px;
    text-align: center;
    background-color: #d9e1e9;
    color: black;
    
}
 
.product-grid-item {
  margin: 0.5em;
  border: 1px solid #dee2e6;
  margin-top: 25px;

  &:hover{
    transform: scale(1.03);
    transition: transform 0.2s;
  }
 
}
 
.column {
    float: left;
    width: 33.33%;
    padding: 5px;
    margin-right: 20px;
    margin-top: 14px;
    
  }
 
  .title{
    margin-top: 50px;
    font-size: 40px;
    color: black;
    font-family: "Maax";
    margin-bottom: 20px;   
    text-align: center; 
  }
 
  img {
    width:100%;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    margin: 2rem 0;
    
 
    // &:hover{
    //   transform: scale(1.05);
    //   transition: transform 0.2s;
    // }
}
 
  /* Clearfix (clear floats) */
.row::after {
    justify-content: center;
   
  }


 
// .button_controls{
//     background-color: #d9e1e9;
//     border: 3px ;
//     border-radius: 3px;
//     color: black;
//     padding: 15px 7px;
//     text-align: center;
//     text-decoration: none;
//     display: inline-block;
//     font-size: 15px;
//     font-family: "Maax";
//     margin: 20px 5px;
//     cursor: pointer;
//     margin-right: 6px;
//     position: relative;
//     margin-top: 120px;
//     width: 94px;
//     outline: none;
// }
 
.video{
    margin-top: 100px;
}
 
.video:focus {
    outline: none;
 
}
 
/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }
  }


 
.card {
  padding: 2rem;
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14),
    0 1px 3px 0 rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  margin-bottom: 2rem;
  cursor: pointer;
 
}