<!-- <div *ngIf="loading == true">
  <div class="header">{{name}}</div>

  <div>
    <img src={{image}} width="275px" height="350px" (mouseenter)="addClickEvent($event, image)"
    (mouseleave)="addClickEvent($event, image)"
    (mousemove)="addClickEvent($event, image)">
  </div>

  <div>
    <img src={{sign}} width="275px" height="350px" (mouseenter)="addClickEvent($event, sign)"
    (mouseleave)="addClickEvent($event, sign)"
    (mousemove)="addClickEvent($event, sign)">
  </div>

  <div id="video">
    <video id="my_video_1" class="video" width="435px" height="267px" controls  
      poster='https://wallpaperaccess.com/full/124585.jpg'>
      <source [src]="video" type='video/mp4' />
    </video>
  <div>
    <button class = "button_controls" (click)="playPause()">Play/Pause</button>
    <button class = "button_controls" (click)="restart();">Restart</button>
    <button class = "button_controls" (click)="skip(-10)">Rewind</button>
    <button class = "button_controls" (click)="skip(10)">Forward</button>
  </div>
  </div>
</div>

<div style="position: fixed; left: 25%; right: 25%;
  top: 15%; overflow: hidden; pointer-events: none;">
   <app-pop-up *ngIf="modalShow"
   (onCloseModal)="closeModal('room')" [CategorySelected]="''" [SubCategorySelected]="''" [imageSelected]="imageSelected" [boolCat]="false" [boolSub]="false"></app-pop-up>
  </div>

  <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#modal" (click)="open('John')">Click Here To Open Modal</button> -->

<!-- <div  *ngIf="loading == true" >
  <div class="header">{{name}}</div>
 
  <div class="row"  >
 
  <div class= "column" style="margin-right: 80px;">
    <div class="title">{{first_image}}</div>
    <img src={{image}} width="275px" height="350px" (mouseenter)="addClickEvent($event, image)" (mouseleave)="addClickEvent($event, image)"
    (mousemove)="addClickEvent($event, image)">
  </div>
 
  <div class= "column" style="margin-right: 80px;">
    <div class="title">{{second_image}}</div>
    <img src={{sign}} width="275px" height="350px" (mouseenter)="addClickEvent($event, sign)" (mouseleave)="addClickEvent($event, sign)"
    (mousemove)="addClickEvent($event, sign)"> 
  </div>
</div>
 
  <div id="video">
    <video id="my_video_1" class="video" width="410px" height="180px" controls  
      poster={{thumbnail}} >
      <source [src]="video" type='video/mp4' />
      Browser not supported
    </video> -->
    
  <!-- <div class="container">
    <button class = "button_controls" (click)="playPause()">Jouer</button>
    <button class = "button_controls" (click)="restart();">Redémarrer</button>
    <button class = "button_controls" (click)="skip(-10)">Retour</button>
    <button class = "button_controls" (click)="skip(10)">Vers l'avant</button>
  </div>
  </div>
</div> -->
 
  <div *ngIf="loading == true" class="card">
    <div class="header">{{name}}</div>
  <p-dataView [value]="products" layout="grid" emptyMessage="">
    <ng-template pTemplate="gridItem">
        <div class="p-col-12 p-md-4">
          <div class="title">{{first_image}}</div>
            <div class="product-grid-item card" (click)="openPopup('Image', image, true)">
                <div class="product-grid-item-content">
                  <img src={{image}} width="275px" height="350px">
                </div>
            </div>
        </div>

            <div class="p-col-12 p-md-4">
              <div class="title">{{second_image}}</div>
                <div class="product-grid-item card" (click)="openPopup('Sign',sign, true)">
                    <div class="product-grid-item-content">
                      <img src={{sign}} width="275px" height="350px"> 
                    </div>
                </div>
                </div>

            <div class="p-col-12 p-md-4">
          <div class="title">Video</div>
            <div class="product-grid-item card" (click)="openPopup('Video',video, false)" style="height: 74.5% !important; justify-content: center;">
                <div class="product-grid-item-content">
                  <video poster='https://wallpaperaccess.com/full/124585.jpg' width="100%" height="100%" controls>
                    <!-- <source [src]="video"/> -->
                    Browser not supported
                </video>
                </div>
            </div>
            </div>

            </ng-template>
 
            
</p-dataView>
<!-- <button (click)="openVideoPopup()">Open Modal</button> -->
 
<div style="position: fixed; left: 25%; right: 25%;
  top: 20%; overflow: hidden; pointer-events: none;"  >
   <app-pop-up *ngIf="modalShow"
   [CategorySelected]="''" [SubCategorySelected]="''" [imageSelected]="imageSelected" [boolCat]="false" [boolSub]="false"></app-pop-up>
  </div>
</div>
 
<!-- <div class="card">
  <div class="header">{{name}}</div>
<p-dataView #dv [value]="products" layout="grid" emptyMessage="">
 
<ng-template pTemplate="gridItem" >
  
  <div class="p-col-12 p-md-4" style="margin-right: 30px;">
          <div class="product-grid-item-content">
            <img src={{image}} width="250px" height="350px">
          </div>
  </div>
 
  <div class="p-col-12 p-md-4" style="margin-right: 30px;">
        <div class="product-grid-item-content" >
          <img src={{sign}} width="250px" height="350px">
        </div>
</div>
 
<div id="container">
  <video id="my_video_1" class="video"width="400px" height="180px" controls  
    poster= {{thumbnail}}  >
    <source [src]="video" type='video/mp4' />
  </video>
<div class="container_button">
  <button class = "button_controls" (click)="playPause()">Play</button>
  <button class = "button_controls" (click)="restart();">Restart</button>
  <button class = "button_controls" (click)="skip(-10)">Back</button>
  <button class = "button_controls" (click)="skip(10)">Forward</button>
</div>
</div>
 
 
 
  </ng-template>
  </p-dataView>
</div> -->