.button_controls{
    background-color: rgb(31, 47, 138);
    border: 3px ;
    border-radius: 3px;
    color: white;
    padding: 15px 17px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    font-family: "Maax";
    margin: 30px 4.5px;
    cursor: pointer;
}



.video:focus {
    outline: none;
}
